In [1]:
#let's work with string
string = "Hi I am Learing python"

for  char in string:
    print(char)

H
i

I

a
m

L
e
a
r
i
n
g

p
y
t
h
o
n

In [2]:
#let's range
for i in range (1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [3]:
#Even number from 1 to 10
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [4]:
#odd number from 1 to 10 and 20-11
print("\nood number from 1 to 10:")
for i in range(19,10,-2):
    print(i)

ood number from 1 to 10:
19
17
15
13
11

In [6]:
#let's use dictionary
fav_movie = {
    "KGF": 9,
    "Inspection": 10,
    "Breaking Bad": 9
}

for key, value in fav_movie.items():
    print(key, ":", value)

KGF : 9
Inspection : 10
Breaking Bad : 9

In [7]:
#let's learn while loop
count = 1
while count <=10:
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9
10

In [10]:
#find the sum of number from 1 to 10 even numbes only
num = 1
while num <= 10:
    if num % 2 == 0:
        print("The sum of number from 1 to 10  even number only:", num)
    num += 1

The sum of number from 1 to 10  even number only: 2
The sum of number from 1 to 10  even number only: 4
The sum of number from 1 to 10  even number only: 6
The sum of number from 1 to 10  even number only: 8
The sum of number from 1 to 10  even number only: 10

In [11]:
#find the factorial of 5
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

result = factorial(5)
print("Factorial of 5 is:", result)

Factorial of 5 is: 120

In [1]:
#find the factorial of 5
number = 5
factorial = 1
while number > 0

SyntaxError: expected ':' (3513510801.py, line 4)

In [2]:
#function with parameters
def greet():
    print("Hello", name)
    greet("raju")
    greet("das")

In [3]:
#function with return values
def square(a):
    return a*a

result = square(10)
print(result)

100

In [4]:
#function with default paramenter value
def greet_with_default(name="world!!"):
    print("Hello", name)

greet_with_default()
greet_with_default(name= "python!!")

Hello world!!
Hello python!!

In [5]:
#function with multiple values : find the min and max number
def min_max(num):
    return min(num), max(num)

num = [1,5,7,9,14,20]
min_num, max_num = min_max(num)

print("Minimum number:", min_num)
print("Maximum number:", max_num)

Minimum number: 1
Maximum number: 20

In [6]:
#Recursive function to calculate factorial
def factorial(n):
    if n == 0:
        return 1
    else:
        return n* factorial(n-1)

print("Factorial of 5:", factorial(5))

Factorial of 5: 120

In [7]:
#function with variable number of arguments
def sum(*arg):
    total = 0
    for num in arg:
        total +- num
        return total

print ("sum of 1, 3, 5 and 7:", sum(1,3,5,7))

sum of 1, 3, 5 and 7: 0

In [16]:
#sorting based on length(characters) of name
names = ["ranjan", "hamal", "avay", "raju"]
sorted_name = sorted(names, key= lambda name:len(name))
print("Sorted names based on their characters:", sorted_name)

Sorted names based on their characters: ['avay', 'raju', 'hamal', 'ranjan']

In [20]:
#function to find the even numbers in a list using lamda function
numbers = [2, 3, 5, 8, 6, 20, 24, 26, 101, 103]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print("Filtered even numbers in a list:", even_numbers)

Filtered even numbers in a list: [2, 8, 6, 20, 24, 26]

In [ ]:
#mapping a function to a list using lambda function